.videoCallWrapper {
  background-image: url("/public/images/bg.webp");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 40px 0;
}

:global(*) {
  margin: 0;
  padding: 0;
} 